POSTGRES_DB=market_intelligence
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AIRBYTE_PORT=8000

API_BASE_URL=https://dummyjson.com
API_KEY=

BIGQUERY_PROJECT_ID=your-gcp-project-id
BIGQUERY_DATASET_RAW=raw
BIGQUERY_DATASET_ANALYTICS=analytics