# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/
airflow/*.db

# Docker volumes / local data
postgres_data/
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db